openapi: 3.2.0
info:
  title: Khalifa University Khazna Repository Oai Pmh API
  description: Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH) 2.0 endpoint operated by Khalifa University of Science and Technology at https://khazna.ku.ac.ae/ws/oai.
  version: '2.0'
  contact:
    name: Khalifa University Khazna repository
    email: khazna@ku.ac.ae
    url: https://khazna.ku.ac.ae
  license:
    name: Not stated by the repository
servers:
- url: https://khazna.ku.ac.ae/ws/oai
  description: Khazna OAI-PMH base URL (probed 2026-09-01, HTTP 200)
tags:
- name: oai pmh
  description: OAI-PMH 2.0 verbs supported by the Khazna repository.
paths:
  /:
    get:
      tags:
      - oai pmh
      summary: OAI-PMH request
      description: Single OAI-PMH 2.0 entry point. The `verb` parameter selects the operation. Responses are XML in the http://www.openarchives.org/OAI/2.0/ namespace; the repository additionally declares the OpenAIRE CERIF 1.2 profile (https://www.openaire.eu/cerif-profile/1.2/) in its schemaLocation.
      operationId: oaiRequest
      parameters:
      - name: verb
        in: query
        required: true
        description: The OAI-PMH verb to invoke.
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        required: false
        description: Metadata format to return. Formats confirmed live on 2026-09-01 by ListMetadataFormats.
        schema:
          type: string
          enum:
          - oai_dc
          - mods
          - xmetadiss
      - name: identifier
        in: query
        required: false
        description: Record identifier; required for GetRecord.
        schema:
          type: string
      - name: set
        in: query
        required: false
        description: Set spec to restrict a selective harvest. Sets are listed by ListSets.
        schema:
          type: string
      - name: from
        in: query
        required: false
        description: Lower bound of the datestamp range. Repository granularity is YYYY-MM-DDThh:mm:ssZ; earliestDatestamp is 2023-01-11T09:41:56Z.
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        required: false
        description: Upper bound of the datestamp range, same granularity.
        schema:
          type: string
          format: date-time
      - name: resumptionToken
        in: query
        required: false
        description: Flow-control token returned by a previous incomplete list response.
        schema:
          type: string
      responses:
        '200':
          description: An OAI-PMH response document. Protocol-level failures (badVerb, badArgument, cannotDisseminateFormat, idDoesNotExist, noRecordsMatch, noSetHierarchy, noMetadataFormats, badResumptionToken) are also returned with HTTP 200 inside an <error> element, as the OAI-PMH specification requires.
          content:
            application/xml:
              schema:
                type: string
                description: OAI-PMH 2.0 XML response document.
x-operator: institution
x-software: Elsevier Pure (tenant khalifauniversity.elsevierpure.com)
x-provenance:
  generated: '2026-09-01'
  method: derived
  source: 'Derived from the OAI-PMH 2.0 specification (https://www.openarchives.org/OAI/openarchivesprotocol.html) bound to the live base URL https://khazna.ku.ac.ae/ws/oai. Live probes 2026-09-01: ?verb=Identify HTTP 200 application/xml; ?verb=ListMetadataFormats HTTP 200 (7 metadata formats); ?verb=ListSets HTTP 200 (23,615 bytes). Captured responses are in examples/khalifa-oai-pmh-identify-response.xml and examples/khalifa-oai-pmh-listmetadataformats-response.xml.'
